# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Build outputs (if any)
dist/
build/

# Optional: MongoDB dump or backup files
dump/
*.gz
